@import "tailwindcss";
@import "@nuxt/ui";
@source "../../../content";

@theme static {
  --font-public-sans: "Public Sans", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-kantumruy-pro: "Kantumruy Pro", "sans-serif";
  --font-battambang: "Battambang", "sans-serif";

  --breakpoint-tablet: 440px;
  --breakpoint-computer: 1024px;

  --color-primary-50: #ecfbff;
  --color-primary-100: #d5f3ff;
  --color-primary-200: #b4ecff;
  --color-primary-300: #80e2ff;
  --color-primary-400: #44cfff;
  --color-primary-500: #19b1ff;
  --color-primary-600: #0193ff;
  --color-primary-700: #007afa;
  --color-primary-800: #0468d7;
  --color-primary-900: #0a549e;
  --color-primary-950: #0c335f;
}

/* Base scrollbar styles */
::-webkit-scrollbar {
  background-color: transparent;
  height: 0.3em;
  width: 0.3em;
}

/* Light mode styles */
::-webkit-scrollbar-track {
  background-color: var(--color-gray-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: var(--color-gray-400);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-500);
}

/* Dark mode styles */
:root.dark ::-webkit-scrollbar-track {
  background-color: var(--color-gray-800);
}

:root.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-700);
}

:root.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-600);
}

@utility scrollbar-hidden {
  /* Hide scrollbar for IE, Edge and Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
